html
    head
        script(src="ajax.js")
        title= "Your albums"
        link(rel="stylesheet" href="style.css")
    body
        h1= "You logged in succesfully"
        button(onclick="getAlbums()")
        div(class="ui")
            div(class="album-container")
                each album in body
                    div(id=album.id)
                        a(href=album.url)
                            img(src=album.image)
                        p=album.name 
                        p=album.artist
                        div(onclick=`myFunction('${album.id}')`)="hello"
            div(class="folder-container")
                div(class="folder-maker")
                    button(onclick="createFolder()" class="btn-create")="Create Folder"
                    input(type="text" id="folder-name")
        script(src="albums.js")