html
    head
        script(src="ajax.js")
        title= "Your albums"
        link(rel="stylesheet" href="style.css")
    body
        h1= "You logged in succesfully"
        button(onclick="getAlbums()")
        div(class="ui")
            div(class="album-container")
                each album in body
                    div(id=album.id class="album")
                        a(href=album.url)
                            img(src=album.image)
                        p(class="name")=album.name 
                        p(class="artist")=album.artist
                        input(type="text" list="folder-list")
                        button(onclick=`addToFolder('${album.id}')`)="Add to folder"
            div(id="folder-container" class="folder-container")
                div(class="folder-maker")
                    form(action="/folder/download")
                        input(type="submit" value="Download folders")
                    button(onclick="createFolder()" class="btn-create")="Create Folder"
                    input(type="text" id="folder-name")
        script(src="albums.js")