html
    head
        title= "Your site"
        link(rel="stylesheet" href="style.css")
    body
        h1= "You logged in succesfully"
        button(onclick="getAlbums()")
        div(class="album-container")
            each album in body
                div(id=album.id)
                    a(href=album.url)
                        img(src=album.image)
                    p=album.name 
                    p=album.artist